.App {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  place-items: center;
  align-items: center;
  position: absolute;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  height: auto;
  font-family: 'Open Sans', sans-serif;
  margin: 0px auto;

}
 

 html {
  margin: 0px auto;
  max-width: 1000px;
  min-width: 700px;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  align-content: center;
  background-color: white;
 }

 @media only screen and (max-width: 600px) {
  html {
    background-size: auto;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    align-content: center;
    background-color: #f6f9fa;
  }
}

