.Gallery {
    position: relative;
    display: grid;
    align-self: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: max-content;
    grid-row-gap: 12px;
    grid-column-gap: 12px;
    background-color: white;
    padding: 60px 50px 60px 50px;
    width: 90%;
    height: auto;
    margin: 0 auto;
  
  }
  
@media only screen and (max-width: 600px) {
    .Gallery {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        background-color: white;
        padding: 60px 50px 60px 50px;
        width: 90vw;
        height: auto;
        margin: 0 auto;
    }
}

